<h1>Welcome to Bueller student management!</h1><br>
  <%= link_to users_path, :class => "btn btn-default" do %>Home Page<% end %>
  <% if current_user %>
    <%= link_to logout_path, :class => "btn btn-default" do %>Log out<% end %> 
    <%= link_to new_attendance_path, :class => "btn btn-primary btn-l" do %>I'm here!<% end %>
  <% else %>
    <div class="pull-right">
      <%= link_to "login", :class => "btn btn-default" do %>Log in<% end %> 
      <%= link_to new_user_path, :class => "btn btn-primary btn-l" do %>Sign up!<% end %>
    </div>     
  <% end %>
<br /><br />
<p>
 <% if current_user %>
   Hello, <%= current_user.name %>!
 <% else %>
   Hello! Please log in.
 <% end %>
</p><br /><br />

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

<style>
  td {padding: 5px}
  th {padding: 5px}
</style>

<% @current = current_user 
 today = Date.today  
 @seat_1 = User.in_seat(1, today) 
 @seat_2 = User.in_seat(2, today) 
 @seat_3 = User.in_seat(3, today) 
 @seat_4 = User.in_seat(4, today) 
 @absent = User.absent(today) %>

<table cellspacing="1" width="700px" style="height: 400px" cellpadding="2" align="center" border="1">
  <tr>
    <td>
      <% @seat_1.each do |s| %>
          <% if s.image != "" %>
            <img src="<%= s.image %>" height="80" width="80" />
          <% else %>
            <%= image_tag avatar_url(s) %>
          <% end %>
           <%= s.nickname %><br /><br />
      <% end %>
    </td>
    <td>
      <% @seat_2.each do |s| %>
          <% if s.image != "" %>
            <img src="<%= s.image %>" height="80" width="80" />
          <% else %>
            <%= image_tag avatar_url(s) %>
          <% end %>
           <%= s.nickname %><br /><br />
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
       <% @seat_3.each do |s| %>
          <% if s.image != "" %>
            <img src="<%= s.image %>" height="80" width="80" />
          <% else %>
            <%= image_tag avatar_url(s) %>
          <% end %>
           <%= s.nickname %><br /><br />
       <% end %>
    </td>
    <td>
      <% @seat_4.each do |s| %>
          <% if s.image != "" %>
            <img src="<%= s.image %>" height="80" width="80" />
          <% else %>
            <%= image_tag avatar_url(s) %>
          <% end %>
           <%= s.nickname %><br /><br />
      <% end %>
    </td>
  </tr>
</table>
<h3 align="center">Front of classroom</h3>

<h3>Absent</h3>
<ol>
  <% @absent.each do |s| %>
    <li>
       <% if s.image != "" %>
            <img src="<%= s.image %>" height="80" width="80" />
          <% else %>
            <%= image_tag avatar_url(s) %>
          <% end %>
      <span><%= s.nickname %></span>
    </li>
  <% end %>
</ol>  


