<h1>Welcome to Bueller student management!</h1><br>

<a href="http://swiedaa1-72810.use1.nitrousbox.com/users" class="btn btn-default" role="button">Home Page</a> 
<a href="http://swiedaa1-72810.use1.nitrousbox.com/login" class="btn btn-default" role="button">Sign In!</a> 
<a href="http://swiedaa1-72810.use1.nitrousbox.com/users/new" class="btn btn-primary btn-l" role="button">Sign Up!</a> 
<br><br>

<p> Hello user[:userid] </p>
<br><br>

<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
<table>
  <tr>
      <th>Image URL: </th>
      <th>Name:</th>
      <th>Nickname:</th>
      <th>Email:</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
           <td><% if user.image != "" %>
        <img src="<%= user.image %>" height="120" width="120" />
        <% else %>
        <%= image_tag avatar_url(user) %>
        <% end %>
      </td>
      <td><%= user.name %></td>
      <td><%= user.nickname %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Edit Profile', edit_user_path(user) %></td>
      <td><%= link_to 'Delete Profile', user_path(user),
                      method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


