<h1>Welcome to Bueller student management!</h1>

<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>

<br>
<br>
<%= link_to 'Create a new student', new_user_path %><table>
  <tr>
    <th>Name:</th>
    <th>Nickname:</th>
    <th>Email:</th>
    <th>Image URL: </th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.nickname %></td>
      <td><%= user.email %></td>
      <td><% if user.image != "" %>
        <img src="<%= user.image %>" height="52" width="52" />
        <% else %>
        <%= image_tag avatar_url(user) %>
        <% end %>
      </td>
      <td><%= link_to 'Show Student', user_path(user) %></td>
      <td><%= link_to 'Edit Student', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy Student', user_path(user),
                      method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


