<h1>Welcome to Bueller Student Management!</h1>

<%= link_to "Home Page", controller: "user" %>      |      <%= link_to 'New User', new_user_path(@user) %>

<% flash.each do |name, msg| %>
 <%= content_tag :div,msg, class: name %>
 <%end%>
<table>
  <tr>
    <th>Name</th>
    <th>Nickname</th>
    <th>Email</th>
    <th>Image URL </th>
  </tr>
 
  <% @user.each do |post| %>
    <tr>
      <td><%= post.sname %></td>
      <td><%= post.nickname %></td>
      <td><%= post.email %></td>
      <td><%= post.image %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    </tr>
  <% end %>
</table>
