<h1> The following student has been successfully added: </h1>
<p>
  <strong>Name:</strong>
  <%= @post.name  %>
</p>
<strong>Nickname:</strong>                                                                                                                                                               
  <%= @post.nickname %>                                                                                                                                                                 
</p> 
<strong>Email:</strong>                                                                                                                                                                
  <%= @post.email %>                                                                                                                                                                     
</p>  
<p>
  <strong>Image URL:</strong>
  <%= @post.image %>
</p>
<%= link_to 'Edit', edit_post_path(@post) %> | 
<%= link_to "Home Page", controller: "posts" %>
