<h1></h1>
<%= link_to users_path, :class => "btn btn-default" do %>Home Page<% end %>
<%= form_for :attendance, url: attendances_path do |a| %>
  <% if @attendance.errors.any? %>
    <div class="alert alert-error">
      <h2>Error:</h2>
      <ul>
        <% for message in @attendance.errors.full_messages %>
          <% if message.include?("Seat is not included in the list") %>
            <li>You must choose a seat between 1 and 4</li>
          <% else %>
            <li><%= message %>
          <% end %>
        <% end %>
      </ul>
    </div>
<% end %>

<h1>Role Call</h1>

<p>
  <%= a.label :seat %>
  <%= a.text_field :seat %>
</p>

<p>
  <%= a.submit %>
</p>
<% end %>
<table cellspacing="1" width="700px" style="height: 400px" cellpadding="2" align="left" border="1">
    <tbody>
    <tr>
      <td><h2 align="center">1</h2></td>
        <td><h2 align="center">2</h2></td>
    </tr>
    <tr>
        <td><h2 align="center">3</h2></td>
        <td><h2 align="center">4</h2></td>
    </tr>
    </tbody>
</table>